// import custom fonts
@font-face
  font-family Hanken Grotesk
  font-style normal
  src url(../fonts/HankenGrotesk-VariableFont_wght.ttf)

// font variables
extra-bold-weight = 800
bold-weight = 700
medium-weight = 500

xl-font = 3.5em
lg-font = 1.5em
md-font = 1.13em
sm-font = 1.1em

// color variables
reaction-red = #ff5555
memory-yellow = #ffb21e
verbal-green = #00bb8f
visual-blue = #1125d6
dark-navy = #303b59
pale-blue = #cac9ff
off-white = #ecf2ff

gradient-main = linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%)
gradient-accent = linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%)

// global css reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  line-height 1.5
  -webkit-font-smoothing antialiased

img
  max-width 100%

button
  font inherit

// font styles
body
h1
h2
p
span
button
  font-family 'Hanken Grotesk', sans-serif

h1
  font-size xl-font

.result-summary>h2
  font-size lg-font

.overline
.result-breakdown>h2
button
  font-size md-font

.final-score-label
.score-msg
.category-label>p
.category-score
  font-size sm-font

.result-summary>h2
.result-breakdown>h2
.final-score-label
.category-score
button
  font-weight bold-weight

.score-msg
.category-label>p
  font-weight medium-weight
