@font-face {
  font-family: Hanken Grotesk;
  font-style: normal;
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
}
button {
  font: inherit;
}
body,
h1,
h2,
p,
span,
button {
  font-family: 'Hanken Grotesk', sans-serif;
}
h1 {
  font-size: 3.5em;
  font-weight: 800;
  color: #fff;
}
.result-summary>h2 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 8px;
}
.overline,
.result-breakdown>h2,
button {
  font-size: 1.13em;
}
.final-score-label,
.score-msg,
.category-label>p,
.category-score {
  font-size: 1.1em;
}
.overline,
.result-summary>h2,
.result-breakdown>h2,
.final-score-label,
.category-score,
button {
  font-weight: 700;
}
.score-msg,
.category-label>p {
  font-weight: 500;
}
.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.main-component {
  background-color: #fff;
}
body {
  width: 100vw;
  height: 100vh;
}
.result-summary {
  background-image: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  padding: 24px 24px 40px 24px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  text-align: center;
}
.overline,
.final-score-label,
.score-msg {
  color: #cac9ff;
}
.final-score-container {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, #4d21c9 0%, rgba(37,33,201,0) 100%);
  border-radius: 100%;
  margin: 24px auto;
}
.final-score-label {
  margin-top: -10px;
}
.score-msg {
  width: 260px;
  margin: 0 auto;
}
.result-breakdown {
  padding: 32px;
}
.result-breakdown>h2,
.category-score {
  color: #303b59;
}
.low-opacity {
  opacity: 50%;
}
.result-breakdown>h2 {
  margin-bottom: 24px;
}
#reaction {
  background-color: #fff6f6;
}
#reaction>.category-label {
  color: #f55;
}
#memory {
  background-color: #fffbf4;
}
#memory>.category-label {
  color: #ffb21e;
}
#verbal {
  background-color: #f2fcf9;
}
#verbal>.category-label {
  color: #00bb8f;
}
#visual {
  background-color: #f3f4fd;
}
#visual>.category-label {
  color: #1125d6;
}
.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 16px;
}
.category-container:not(:last-child) {
  margin-bottom: 16px;
}
.category-label {
  display: flex;
}
.category-label>img {
  margin-right: 16px;
}
.result-breakdown>button {
  margin-top: 24px;
  width: 100%;
  border: none;
  border-radius: 100px;
  padding: 16px 0;
  color: #fff;
  background-color: #303b59;
}
.result-breakdown>button:hover {
  background-image: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
}
@media screen and (min-width: 768px) {
  body {
    padding: 24px;
    background-color: #ecf2ff;
  }
  .main-component {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 32px;
    width: 736px;
    height: 512px;
    margin: 0;
    box-shadow: 0px 30px 60px rgba(61,108,236,0.15);
  }
  .result-summary {
    border-radius: 32px;
    width: 50%;
  }
  .result-breakdown {
    width: 50%;
  }
  .overline {
    font-size: 1.5em;
  }
  h1 {
    font-size: 5em;
  }
  .result-summary>h2 {
    font-size: 2em;
  }
  .final-score-label,
  .score-msg,
  .category-label,
  .category-score,
  button {
    font-size: 1.13em;
  }
  .final-score-container {
    width: 200px;
    height: 200px;
    margin-bottom: 28px;
  }
  .overline {
    margin-bottom: 36px;
  }
  .result-summary>h2 {
    margin-bottom: 14px;
  }
}
